ERP_SHARED_HASURA_URL=http://localhost:8090/v1/graphql
ERP_SHARED_HASURA_WS_URL=ws://localhost:8090/v1/graphql
ERP_SHARED_DB_URL=postgres://erp_admin:changeme_in_production@localhost:5432/erp_shared?sslmode=disable
ERP_SHARED_IAM_URL=http://localhost:8081
ERP_SHARED_OTLP_ENDPOINT=http://localhost:4317
ERP_SHARED_GRAFANA_URL=http://localhost:3000
ERP_SHARED_PROMETHEUS_URL=http://localhost:9090
